* {
    margin: 0px;
    padding: 0px;
    font-family: "Amazon Ember", Arial, sans-serif;
}

#navbar {
    height: 70px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: capitalize;
    font-family: Arial, sans-serif;

}

.navbar-logo {
    height: 50px;
    width: 150px;
    margin-top: 8px;
}

.logo {
    background-image: url(ama-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 45px;
    margin-left: 2px;
}

.border {
    border: 1.7px solid transparent;
}

.border:hover {
    cursor: pointer;
    border: 1.7px solid white;
}

.location {
    height: 50px;
    margin-top: 6px;
}

.location-first {
    font-size: 12px;
    color: #cccccc;
    margin-left: 15px;
}

.location-second {
    font-size: 14px;
    color: white;
    padding-bottom: 1px;
    font-weight: 700;
    margin-left: 5px;
}

.location-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    height: 40px;
    width: 650px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
}

.option {
    background-color: #f3f3f3;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
}

.search {
    height: 40px;
    border: none;
    width: 100%;
    font-size: 18px;
}

.nav-search-icon {
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: #febd68;
    color: #0f1111;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.contacta {
    height: 40px;
    width: 113px;
}

.p1 {
    font-size: 12px;
    height: 14.6px;
    font-weight: 100;
    padding-left: 4px;
}

.p2 {
    font-size: 14px;
    height: 15.5px;
    font-weight: 700;
}

.nav-cart i {
    font-size: 35px;
    font-weight: 550;
}

.nav-cart {
    font-size: 14px;
    font-weight: 650;
    margin-right: 12px;
}

/* start */
.navbar-two {
    height: 40px;
    width: 100%px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    font-family: Arial;
    justify-content: space-evenly;
}

.nav-bar-2 {
    width: 55px;
    display: flex;
    padding-left: 7px;
}

.nav-bar-2 p {
    padding-left: 5px;
    font-size: 14px;
}

.nav-panel {
    font-size: 13.9px;
    text-transform: capitalize;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-panel li {
    padding: 10px;
}

.lists li {
    display: inline;
    text-transform: capitalize;
    list-style-type: none;
}

.dog {
    border: 1px solid transparent;
}

.dog:hover {
    border: 1px solid white;
}

#div {
    display: flex;
}

/* NEW STATEMENT */

.last-div {
    height: 33px;
    border: 1px solid lightgray;
    background-color: #fafafa;
}

.under-style {
    display: flex;
    padding: 0px 20px;
    line-height: 38px;
    font-size: 12px;
    list-style: none;
    height: 34px;
}

.anchor-A120 {
    font-weight: 600;
    font-weight: 400;
    padding: 6px 10px;
    text-decoration: none;
    color: #333333;
}

.anchor-A120:hover {
    color: #c7511f;
    border-bottom: 2.99px solid #f90;
}

main {
    padding-top: 1px;
    background-color: #f4f4f5;
}

.div-header-10 {
    margin-top: 20px;
}

.div-header-11 {
    width: 1090px;
    margin: auto;
}

.div-header-15 {
    font-size: 28px;
    padding: 10px 0px;
    color: #232f3ee8;
}

.div-1 {
    height: 390px;
    display: flex;
}

.div-A1 {
    height: 390px;
    width: 50%;
    background-color: white;
}

.div-element {
    display: flex;
    padding: 10px;
    background-color: white;
}

.div-B1 {
    width: 456px;
    margin-left: 12px;
}

.input-A2 {
    width: 320px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    margin: 0px 0px 0px 16px;
    border: 2px solid lightgray;
    padding: 0px 0px 0px 15px;
}

.button-A1 {
    width: 298px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #232f3e;
    display: block;
    padding: 12px;
    cursor: pointer;
    border-radius: 30px;
    margin: 20px 0px 0px 16px;
    border: 2px solid #ffd852;
    background-color: #ffd852;
}

.button-A1:hover {
    background-color: #ffff002e;
}

.icon-logo {
    height: 22px;
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.button-A2 {
    width: 185px;
    height: 38px;
    font-size: 14px;
    font-weight: 600;
    color: #232f3e;
    display: block;
    line-height: 5px;
    padding: 12px;
    cursor: pointer;
    border-radius: 30px;
    margin: 0px 0px 20px 16px;
    border: 2px solid #d6dae1;
    background-color: #d6dae1;
}

.button-A2:hover {
    background-color: #d3d3d31a;
}

.last-div-2 {
    width: 250px;
    height: 30px;
    display: flex;
    padding: 10px 20px;
    margin-left: 25px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.last-div-2:hover {
    text-decoration: underline;
}

.last-border {
    width: 885px;
    padding: 15.958px 0px;
    /* background-color: red; */
}
footer {
    width: 1350px;
    background-color: #222f3d;
}

#footer {
    height: 20px;
    width: 1350px;
    background-color: #37475a;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
}

#footer span {
    font-size: 13px;
}

.footer-5 {
    height: 294px;
    width: 1000px;
    background-color: #222f3d;
    margin-left: 180px;
    margin-right: 170px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.footer-6 {
    height: 294px;
    width: 115px;
    background-color: #222f3d;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-6 a {
    text-decoration: none;
    line-height: 20px;
    font-weight: 100;
    color: #dddddd;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.Gk:hover a {
    text-decoration: underline;
}

.footer-6-c {
    height: 330px;
    color: #ffffff;
    width: 190px;
    background-color: #222f3d;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-6-c a {
    line-height: 28px;
    text-decoration: none;
    color: #dddddd;
    font-weight: 100;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.Gk-a:hover a {
    text-decoration: underline;
}

.footer-6-d {
    height: 310px;
    width: 115px;
    background-color: #222f3d;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

.footer-6-d a {
    line-height: 25px;
    text-decoration: none;
    font-weight: 100;
    color: #dddddd;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.Gk-b:hover {
    text-decoration: underline;
}

.footer-6 p {
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 7px;
    color: #ffffff;
    font-size: 17px;
    font-family: Arial, sans-serif;
}

.footer-6-c p {
    font-weight: 600;
    padding-bottom: 3px;
    color: #ffffff;
    font-size: 17px;
    font-family: Arial, sans-serif;
}

.footer-6-d p {
    font-weight: 600;
    padding-top: 1px;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 17px;
    font-family: Arial, sans-serif;
}

.div-hr {
    height: 0px;
    width: 1350px;
    background-color: #222f3d;
    border-top: 2.9px solid #37475a;
    margin-top: 40px;
}

.div-hr-1 {
    width: 999.9px;
    height: 67.99px;
    background-color: #222f3d;
    margin-left: 170px;
    margin-right: 180px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.fk-2 {
    width: 100px;
    height: 45px;
    padding-left: 7.9px;
    padding-right: 7.9px;
    background-image: url(ama-1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.div-hr-1 span {
    margin-bottom: 22px;
    margin-left: 10px;
    color: #cccccc;
    font-family: Arial, sans-serif;
}

.list-div {
    width: 1350px;
    height: 125px;
    background-color: #131a22;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    display: flex;
}

.list-div-1 {
    width: 999px;
    height: 123px;
    background-color: #131a22;
    margin-left: 200px;
    margin-right: 200px;
    font-family: Arial, sans-serif;
}

.list-div-1 ul {
    width: 100%;
    height: 40px;
    background-color: #131a22;
    margin-bottom: 15px;
    list-style: none;
    display: flex;
}

.list-div-1 li {
    height: 40px;
    width: 145px;
    background-color: #131a22;
    padding: 0 9px 0 9px;
    color: #dddddd;
    margin-left: 15px;
}

.list-div-1 li p {
    font-size: 12px;
    color: #999999;
}

.list-div-1 li h5 {
    font-size: 14px;
}

.list-div-1 a {
    text-decoration: none;
    color: #dddddd;
}

.li {
    text-decoration: transparent;
}

.li:hover {
    text-decoration: underline;
}

.mistake {
    height: 36px;
    width: 1350px;
    background-color: #131a22;
    padding: 10px 0 30px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #dddddd;
    font-weight: 300;
}

.mistake pre {
    padding-bottom: 5px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #dddddd;
    font-weight: 400;
}

.mistake pre a {
    color: #dddddd;
}